{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Writing indulges the myth of continuity.  Photographs suggest the significance of the single instant.  Ever since a fourth-grade teacher helped me turn a Quaker Oats container into a pinhole camera, I’ve been chasing photographs, and I fell hard for words (the sound of them, their shape) at about the same time. I’ve been caught in both lures ever since. 

        Blogging lets me play with the mix. When I sit down to post, I’m thinking about triggers. I’m thinking about something I might have heard on a train or something the wind might have blown my way or something I’ve been battling with. Then I’m thinking about the iconography—the way a photo might be used to create an amplifying metaphor. Between the story that I write and the photo that accompanies it, there’s tension, and often that tension—the story not spoken, the bridge not built—is the place where the next blog begins, the thing I start battling with.</p>
</div>
{% endblock content %}