<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-rss" aria-hidden="true"></i> Mini Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
          <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info" aria-hidden="true"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card" aria-hidden="true"></i> Contact</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-window-restore" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-user" aria-hidden="true"></i> Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
        </li>
        {% endif %}
      </ul>
       <form method="get" action="/search" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>